=placeholder($color,$famyli)
	::-webkit-input-placeholder
		color: $color
		font-family: $famyli
	::placeholder
		color: $color
		font-family: $famyli
	::-moz-placeholder
		color: $color
		font-family: $famyli
	::-ms-input-placeholder
		color: $color
		font-family: $famyli

transition-all()
	transition all 0.25s
	
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
.cf
	cf()

backgroundsize()
	background-repeat no-repeat
	background-size cover
	background-position center center 		

=img-res()
	width 100%
	height auto
	display block

	// keyframes mixin
=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

// use of keyframes mixin
// +keyframes(bgcolor)
//   0%
//     background-color: #ffccf2
//   50%
//     background-color: #ccffcc
//   100%
//     background-color: #ccffff