
    <section class="tabfull"><span class="img_adorn imgs--contac"><img src="assets/img/contact111.png" width="356" height="366"/></span>
      <div class="tabcontacto">
        <div class="contac-nav">
          <div class="content-title-left contact--title_margen">
            <h3 class="title-g-left">Nuestros datos<strong>Contáctanos</strong></h3>
          </div>
          <div class="contacto_items">
            <div class="contacto_box item--contacto"><span class="icon-SVG-21"></span>
              <h3>Email</h3><a href="">informes@corpol.com</a>
            </div>
            <div class="contacto_box item--contacto"><span class="icon-SVG-22"></span>
              <h3>Teléfono</h3><a href="tel:3267200">326-7200</a>
            </div>
            <div class="contacto_box item--contacto"><span class="icon-SVG-23"></span>
              <h3>Dirección</h3>
              <p>Av. Industrial 160 - Urb. La Aurora Ate. Lima - Perú.</p>
            </div>
          </div>
        </div>
        <div class="contac-form">
          <h2>Escríbenos</h2>
          <p>Para contactarnos complete todos los campos del siguiente formulario, le responderemos a la brevedad posible.</p>
          <form action="" id="form-contac">
            <ul>
              <li>
                <div class="contac-input">
                  <input class="validate[required]" type="text" name="nombre_apellido" placeholder="Nombres y Apellidos"/>
                </div>
                <div class="contac-input">
                  <input class="validate[required]" type="text" name="telefono" placeholder="Teléfono"/>
                </div>
              </li>
              <li>
                <div class="contac-input">
                  <input class="validate[required,custom[email]]" type="text" name="" placeholder="Email"/>
                </div>
                <div class="contac-input">
                  <input class="validate[required]" type="text" name="empresa" placeholder="Empresa"/>
                </div>
              </li>
              <li>
                <div class="contac-input contactextarea">
                  <textarea class="validate[required]" name="mensaje" placeholder="Mensaje"></textarea>
                </div>
              </li>
            </ul>
            <button class="btn btn-enlace1 btn-verde rounded-0" type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </section>
    <section class="mapcontacto">
      <div class="map" id="google-maplima"></div>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyDSJTCObm-uFy0WUcLTpBQZ9zACGqv98hY"></script>
    <script>
      $(function() {
      
      
      	var formBox = $(".contac-input input, .contac-input textarea")
      	$(formBox).focusin(function() {
      		$(this).parent().addClass('active');
      	});
      
      	$(formBox).focusout(function() {
      		if ($(this).val() === "") {
      			$(this).parent().removeClass('active');
      		};
      	});
      
      	//- $(".contac-input input").each(function() {
      	//-     if ($(this).val() != "") {
      	//-         $(this).parent().find('label').addClass('active');
      	//-     };
      	//- });
      	
      
      	function initMap() {
      		var map = $('#google-maplima');
      		if ( ! map.length ) return;
      		var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
      		var styles = [
      			{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
      			{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
      			{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
      			{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
      			{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
      			{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
      			{"featureType": "transit","stylers": [{"visibility": "off"}]},
      			{"featureType": "poi","stylers": [{"visibility": "off"}]}
      		]
      		var mapOptions = {
      			zoom             : 15,
      			center           : myLatlng,
      			mapTypeControl   : true,
      			disableDefaultUI : true,
      			zoomControl      : true,
      			scrollwheel      : false,
      			styles           : styles,
      			draggable        : true
      		}
      		var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);
      		var marker = new google.maps.Marker({
      			position: myLatlng,
      			map: map,
      			icon:"assets/img/marker-1.png"
      		});
      	}
      	initMap();
      });
    </script>
