
    <div class="content-banner-g">
      <div class="img-banner-g img-nosotros" style="background-image: url(../assets/img/banner_nosotros.jpg);"></div>
      <div class="content_text_banner">
        <div class="text-banner-g">
          <h2>Somos un Equipo</h2>
          <p>Brindamos calidad y excelencia</p>
        </div>
      </div>
    </div>
    <div class="detaill-emp">
      <div class="container"><a class="back-emp" href="">Volver a empresas</a>
        <div class="ctn-detaill-emp row">
          <div class="ctn-detaill-img col-6"><img class="img-fluid" src="assets/img/img-detaill.jpg" width="550" height="500" alt="Detaill"/></div>
          <div class="ctn-detaill-info col-lg-6"><img class="img-fluid" src="assets/img/logo-cifarma-detaill.png" width="281" height="74" alt="Logo"/>
            <div class="ctn-text">
              <p>Nuestra casa inicia sus operaciones en la ciudad de Lima - Perú en enero de 1998, contando actualmente con muchos años de experiencia en el mercado farmacéutico.</p>
              <p>Nuestra casa inicia sus operaciones en la ciudad de Lima - Perú en enero de 1998, contando actualmente con muchos años de experiencia en el mercado farmacéutico.</p>
              <h3>VISIÓN</h3>
              <P>Somos una Distribuidora Farmacéutica Peruana, que ofrece una amplia gama de productos con cobertura a nivel Nacional, garantizando una atención oportuna y contando con colaboradores altamente calificados y comprometidos con los objetivos de la Organización.</P>
              <h3>MISIÓN</h3>
              <P>Somos una Distribuidora Farmacéutica Peruana, que ofrece una amplia gama de productos con cobertura a nivel Nacional, garantizando una atención oportuna y contando con colaboradores altamente calificados y comprometidos con los objetivos de la Organización.</P>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-contact">
      <div class="container"> 
        <div class="row no-gutters">
          <div class="ctn-title-contact col-lg-5 col-sm-6">
            <h4>Servicio integral<strong>Contáctanos</strong></h4>
          </div>
          <div class="ctn-text-contact col-lg-4 col-sm-6">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
          </div>
          <div class="ctn-btn-contact col-lg-3"><a class="btn btn-enlace1 btn-verde rounded-0" href="">Ir a formulario</a></div>
        </div>
      </div>
    </div>