
    <div class="b1">
      <div class="b1-banner"> 
        <ul class="b1-contenedor">
          <li class="b1-bgc" style="background-image: url(assets/img/banner_home.png);">
            <div class="b1-content-text">
              <div class="b1-content-caja">
                <h2>Servicio integral</h2>
                <h3>Brindamos calidad y excelencia</h3><a class="btn btn-enlace1 btn-verde rounded-0" href="">Conócenos</a>
              </div>
            </div>
          </li>
          <li class="b1-bgc" style="background-image: url(assets/img/banner_home.png);">
            <div class="b1-content-text">
              <div class="b1-content-caja">
                <h2>Servicio integral</h2>
                <h3>Brindamos calidad y excelencia</h3><a class="btn btn-enlace1 btn-verde rounded-0" href="">Conócenos</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="b2">
      <div class="b2-content-box">
        <div class="b2-text-box">
          <div class="content-title-center">
            <h3 class="title-g-center">Conócenos<strong>Grupo CORPOL</strong></h3>
          </div>
          <div class="b2-text">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más sobre nosotros</a>
          </div>
        </div>
      </div>
    </div>
    <div class="b3">
      <div class="b3-content">
        <div class="b3-items">
          <div class="b3-box"><a class="b3-img" href="">
              <div class="content-title-left">
                <h3 class="title-g-left">Nuestras<strong> Marcas</strong></h3>
              </div></a><a class="b3-img" href=""><img class="b3-imagen" src="assets/img/logo_farma_mia.png" width="277" height="76" alt=""/></a><a class="b3-img" href=""><img class="b3-imagen" src="assets/img/logo_farma_mia.png" width="277" height="76" alt=""/></a><a class="b3-img" href=""><img class="b3-imagen" src="assets/img/logo_farma_mia.png" width="277" height="76" alt=""/></a><a class="b3-img" href=""><img class="b3-imagen" src="assets/img/logo_farma_mia.png" width="277" height="76" alt=""/></a><a class="b3-img" href=""><img class="b3-imagen" src="assets/img/logo_farma_mia.png" width="277" height="76" alt=""/></a></div>
        </div>
      </div>
    </div>
    <div class="b4" id="animacion">
      <div class="b4-content-box">
        <div class="b4-wrap">
          <div class="b4-info">
            <div class="content-title-center">
              <div class="content-title-left">
                <h3 class="title-g-left">Servicio integral<strong>Nuestro Proceso</strong></h3>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><a class="btn btn-enlace1 btn-verde rounded-0" href="">Más Información</a>
              </div>
            </div>
          </div>
          <div class="b4-direcciones">
            <div class="b4-left-flex">
              <div class="b4-icono"></div>
              <div class="b4-texto">
                <h2>Dirección Estratégica</h2>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>
            <div class="b4-left-flex">
              <div class="b4-icono b4-ico1"></div>
              <div class="b4-texto">
                <h2>Importación</h2>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>
            <div class="b4-left-flex">
              <div class="b4-icono b4-ico2"></div>
              <div class="b4-texto">
                <h2>Distribución</h2>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="b5">
      <div class="b5-bgc" style="background-image: url(assets/img/b5-bg-video.png);">
        <div class="b5-bgc-texto videoGallery">
          <div class="b5-texto">
            <h3>Servicio Integral</h3><strong>y de calidad</strong>
            <p>Lorem Ipsum has been the industry's standard dummy text</p><a href="https://www.youtube.com/watch?v=meBbDqAXago"><i class="b5-icon icon-play b5-pulse"></i></a>
          </div>
        </div>
      </div>
    </div>
    <section class="w-noticias">
      <div class="w-noticnt container">
        <div class="content-title-center">
          <h3 class="title-g-center">Siempre actualizados<strong>Noticias</strong></h3>
        </div>
        <div class="w-boxnoticias">
          <div class="w-notItm"><span class="noticiafondo"></span>
            <figure class="w-img"><img src="assets/img/img-noti-2.jpg" width="570" height="350"/></figure>
            <div class="w-notiInner"><span class="w-fecha-noticias">31 /05/17</span>
              <h2>19 Años… Brindando salud.</h2>
              <p>El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....</p><a href="">ver detalle<span class="icon-SVG-19"></span></a>
            </div>
          </div>
          <div class="w-notItm"><span class="noticiafondo"></span>
            <figure class="w-img"><img src="assets/img/img-noti-2.jpg" width="570" height="350"/></figure>
            <div class="w-notiInner"><span class="w-fecha-noticias">31 /05/17</span>
              <h2>19 Años… Brindando salud.</h2>
              <p>El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....</p><a href="">ver detalle<span class="icon-SVG-19"></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="b6-button"><a class="btn btn-enlace1 btn-verde rounded-0" href="">Todas las noticias</a></div>
    </section>
    <div class="b7">
      <div class="b7-wrap-content">
        <div class="b7-wanch"><span class="b7-left"></span>
          <div class="b7-content">
            <h2>Nuestras Certificaciones</h2>
            <div class="b7-logos"><img class="b7-imagen" src="assets/img/b7_logo.png" width="110" height="110" alt=""/><img class="b7-imagen" src="assets/img/b7_logo.png" width="110" height="110" alt=""/><img class="b7-imagen" src="assets/img/b7_logo.png" width="110" height="110" alt=""/></div>
          </div>
          <div class="b7-content">
            <h2>Trabajamos con fabricantes calificados en:</h2>
            <div class="b7-logos"><img class="b7-imagen" src="assets/img/b7_logo_1.png" width="110" height="110" alt=""/><img class="b7-imagen" src="assets/img/b7_logo_1.png" width="110" height="110" alt=""/><img class="b7-imagen" src="assets/img/b7_logo_2.png" width="112" height="48" alt=""/></div>
          </div>
        </div>
      </div>
    </div>
