.footer
	width: 100%
	padding-top: 45px
	border: 3px solid $c-6
	box-sizing: border-box

.footer-top
	padding-bottom: 50px

.footer-cnt
	max-width: 1200px
	margin: auto
	padding: 0 20px 
	box-sizing: border-box
	display: flex
	flex-wrap: wrap
	justify-content: space-between

.footer-wrap-item1
	width: 24%
	margin-right: 5%

.footer-wrap-item2
	width: 42%
	margin-right: 5%

.footer-wrap-item3
	width: 23%

.footer-title
	margin-bottom: 22px
	h3 
		font-size: 18px
		font-family: $t-1
		color: $negro
		text-transform: uppercase
		margin: 0

.footer-list1 ul 
	display: flex
	justify-content: space-between
	flex-wrap: wrap 

.footer-list1 li 
	width: 40%
	margin: 0
	display: block
	line-height: 1.2

.footer-list1 li:nth-child(2n+2)
		width: 60%

.footer-list1
	li 
		margin-bottom: 8px
		a 
			font-size: 15px
			color: #B3B3B3
			transition: all .2s linear

.footer-list1 a:hover
	color: $c-2
	text-decoration: inherit

.footer-list2
	li
		position: relative
		padding-left: 15px 
		&:before
			content: ""
			display: block
			position: absolute
			top: 9px
			left: 0
			width: 4px
			height: 4px
			border-radius: 100%
			background: #B3B3B3
		a, p
			display: inline-block
			margin: 0
			font-size: 15px
			color: #B3B3B3
			transition: all .2s linear

.footer-list2 ul 
	display: flex
	justify-content: space-between
	flex-wrap: wrap 

.footer-list2 li 
	width: 40%
	margin: 0
	display: block
	line-height: 1.2

.footer-list2 li:nth-child(2n+2)
		width: 60%

.footer-list2 a:hover
	color: $c-2
	text-decoration: inherit

// redes
.footer-redes
	ul 
		font-size: 0
	li
		display: inline-block
		margin-right: 18px
		margin-bottom: 10px
		&:last-child
			margin-right: 0
		a 
			display: inline-block
			width: 35px
			height: 35px
			line-height: 35px
			text-align: center
			color: #B3B3B3
			font-size: 16px
			border: 1px solid #B3B3B3
			border-radius: 100%
			transition: all .3s linear

.footer-redes li a:hover
	color: $blanco
	background: $c-2
	border: 1px solid $c-2
	text-decoration: inherit

.footer-redes li a.icon-facebook
	font-size: 18px

.footer-cnt-copyright
	max-width: 1200px
	margin: auto
	padding: 10px 20px 20px 20px 
	box-sizing: border-box
	display: flex
	align-items: center
	justify-content: space-between 

.footer-copyright-left p 
	margin: 0
	font-size: 12px
	color: #B3B3B3

.footer-copyright-right p 
	margin: 0
	font-size: 12px
	color: #B3B3B3

.footer-copyright-right a 
	font-size: 12px
	color: #B3B3B3
	position: relative
	transition: all .2s linear
	&:before
		content: "\e60e"
		font-family: 'icomoon'
		position: absolute
		top: -5px
		right: -8px
		font-size: 10px
		color: #B3B3B3

.footer-copyright-right a
	&:hover
		color: $c-2
		text-decoration: inherit
		&:before
			color: $c-2

@media screen and (max-width: 1200px)
	.footer-list1 li:nth-child(2n+2)
		width: 50% !important

	.footer-list2 li:nth-child(2n+2)
		width: 50% !important

	.footer-wrap-item1
		margin-right: 3%

	.footer-wrap-item2
		margin-right: 3%

@media screen and (max-width: 1024px)
	.footer-wrap-item1
		display: none

	.footer-wrap-item2
		width: 60%

	.footer-wrap-item3
		width: 37%

@media screen and (max-width: 767px)
	.footer-wrap-item
		text-align: center

	.footer-wrap-item2
		margin: 0
		width: 100%
		margin-bottom: 25px

	.footer-wrap-item3
		margin: 0
		width: 100%

	.footer-list2 li
		width: 100% !important
		padding-left: 0 
		margin-bottom: 10px

	.footer-list2 li:before
		display: none

	.footer-list2 li:nth-child(2n+2)
		width: 100% !important

	.footer-top
		padding: 30px 0 20px 0

	.footer-cnt-copyright
		display: block
		text-align: center
		padding: 0px 15px 20px 15px

	.footer-copyright-right
		margin-top: 5px

	.footer-cnt 
		padding: 0 15px

	.footer
		padding-top: 0