.header-wrap
	position: relative
	height: 80px

.header-fixed
	position: fixed
	top: 0px
	left: 0
	width: 100%
	height: 80px
	z-index: 1000
	background: $blanco
	transition: all .2s linear
	box-shadow: 0px -3px 10px 2px rgba(0,0,0,0.3)

.header-fixed.scrolling
	box-shadow: 0px -3px 10px 2px rgba(0,0,0,0.3)
	height: 70px
	.header-link
		height: 70px
	.header-logo
		max-width: 160px

.header-cnt
	display: flex
	height: 100%
	align-items: center
	justify-content: flex-end
	flex-direction: row
	padding: 0 20px
	box-sizing: border-box

// header logo
.header-logo
	transition: all .2s linear
	max-width: 230px
	position: absolute
	left: 20px
	img 
		display: block
		height: auto
		width: 100%

.header-cnt-list
	display: flex
	align-items: center
	justify-content: center
	width: 100%

// header list
.header-list
	display: flex

.header-item
	display: inline-block

.header-link
	display: table-cell
	vertical-align: middle
	height: 80px
	padding: 0 18px
	box-sizing: border-box
	text-transform: uppercase
	color: $c-1
	transition: all .3s linear
	font-size: 15px
	font-family: $t-1
	text-decoration: inherit

//hover
.header-link:hover
	color: $blanco
	background: $c-2
	text-decoration: inherit !important

//active
.header-link.active
	color: $blanco
	background: $c-2
	text-decoration: inherit

//languages
.header-languages
	position: absolute
	right: 20px

.header-languages-select
	position: relative
	display: inline-block
	cursor: pointer
	select 
		width: 80px
		border: none
		border-radius: none
		background: none 
		color: $c-1
		font-family: $t-1
		appearance: none
		box-sizing: border-box
		cursor: pointer
	&:before 
		display: block
		content: "\e907"
		font-family: icomoon
		position: absolute
		top: 5px
		right: 0
		color: $c-1
		font-size: 10px
		pointer-events: none

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .3s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header-item
		display: block
	.header-link 
		width: 2000px
		padding-left: 30px
		font-size: 14px
		height: 50px
	.header-languages-select
		padding-left: 30px
		margin-top: 20px

.responsive-logo
	display: block
	width: 80%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto


.menu-mobile-close, .menu-mobile-open
	background: $c-2
	border-radius: 7%
	color: $blanco
	cursor: pointer
	font-size: 23px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 10px
	transition: all 0.3s ease-in-out
	transform: rotate(0deg)
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1200

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: $c-2
	color: $blanco

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 260px
	z-index: 1500
	transform: rotate(-90deg)

body.active
	overflow: hidden

@media screen and (max-width: 1024px)
	//media query header
	.header-cnt-list
		display: none

	.header-languages
		display: none

	.header-wrap
		height: 60px

	.header-fixed
		height: 60px

	.header-logo
		max-width: 140px

	.menu-mobile-close, .menu-mobile-open
		display: block

	.header-fixed.scrolling
		height: 60px

	.header-fixed.scrolling .header-logo
		max-width: 140px

@media screen and (max-width: 640px)
	.responsive-logo
		display: none
