@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2xxq48');
  src:  url('../fonts/icomoon.eot?2xxq48#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2xxq48') format('truetype'),
    url('../fonts/icomoon.woff?2xxq48') format('woff'),
    url('../fonts/icomoon.svg?2xxq48#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e917";
}
.icon-SVG-23:before {
  content: "\e900";
}
.icon-SVG-22:before {
  content: "\e901";
}
.icon-SVG-21:before {
  content: "\e902";
}
.icon-SVG-20:before {
  content: "\e903";
}
.icon-SVG-19:before {
  content: "\e904";
}
.icon-SVG-18:before {
  content: "\e905";
}
.icon-SVG-17:before {
  content: "\e906";
}
.icon-SVG-16:before {
  content: "\e907";
}
.icon-SVG-15:before {
  content: "\e908";
}
.icon-SVG-14:before {
  content: "\e909";
}
.icon-SVG-13:before {
  content: "\e90a";
}
.icon-SVG-12:before {
  content: "\e90b";
}
.icon-SVG-11:before {
  content: "\e90c";
}
.icon-SVG-10:before {
  content: "\e90d";
}
.icon-SVG-09:before {
  content: "\e90e";
}
.icon-SVG-08:before {
  content: "\e90f";
}
.icon-SVG-07:before {
  content: "\e910";
}
.icon-SVG-06:before {
  content: "\e911";
}
.icon-SVG-05:before {
  content: "\e912";
}
.icon-SVG-04:before {
  content: "\e913";
}
.icon-SVG-03:before {
  content: "\e914";
}
.icon-SVG-02:before {
  content: "\e915";
}
.icon-SVG-01:before {
  content: "\e916";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
