.header-wrap
	.header-fixed
		.header-cnt
			a(href="home.html").header-logo
				img(src=`${STATIC_URL}img/header-logo.png`, alt="")
			.header-cnt-list
				ul.header-list
					li.header-item
						a.header-link(href="nosotros.html") Productos
					li.header-item
						a.header-link(href="empresas.html") Empresas
					li.header-item
						a.header-link(href="proceso.html") Proceso
					li.header-item
						a.header-link(href="noticias.html") Noticias
					li.header-item
						a.header-link(href="contacto.html") Contacto
			.header-languages
				.header-languages-select
					select
						option(value="español") Es
						option(value="ingles") En


//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt