extends ./_common/base.pug
block content
	section.tabfull
		span.img_adorn.imgs--contac
			img(src="assets/img/contact111.png", width='356', height='366')
		.tabcontacto
			.contac-nav
				.content-title-left.contact--title_margen
					h3.title-g-left Nuestros datos
						strong Contáctanos
				.contacto_items
					.contacto_box.item--contacto
						span.icon-SVG-21
						h3 Email
						a(href="") informes@corpol.com
					.contacto_box.item--contacto
						span.icon-SVG-22
						h3 Teléfono
						a(href="tel:3267200") 326-7200
					.contacto_box.item--contacto
						span.icon-SVG-23
						h3 Dirección
						p Av. Industrial 160 - Urb. La Aurora Ate. Lima - Perú.
			.contac-form
				h2 Escríbenos
				p Para contactarnos complete todos los campos del siguiente formulario, le responderemos a la brevedad posible.
				form(action="")#form-contac
					ul
						li
							.contac-input
								input(type="text", name="nombre_apellido", placeholder="Nombres y Apellidos", class="validate[required]")
							.contac-input
								input(type="text", name="telefono", placeholder="Teléfono", class="validate[required]")
						li
							.contac-input
								input(type="text", name="", placeholder="Email", class="validate[required,custom[email]]")
							.contac-input
								input(type="text", name="empresa", placeholder="Empresa", class="validate[required]")
						li
							.contac-input.contactextarea
								textarea(name="mensaje", placeholder="Mensaje", class="validate[required]")
									
					button.btn.btn-enlace1.btn-verde.rounded-0(type="submit") Enviar
	section.mapcontacto
		.map#google-maplima
append scripts
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${GOOGLE_APIKEY}`)
	script.
		$(function() {
		

			var formBox = $(".contac-input input, .contac-input textarea")
			$(formBox).focusin(function() {
				$(this).parent().addClass('active');
			});

			$(formBox).focusout(function() {
				if ($(this).val() === "") {
					$(this).parent().removeClass('active');
				};
			});

			//- $(".contac-input input").each(function() {
			//-     if ($(this).val() != "") {
			//-         $(this).parent().find('label').addClass('active');
			//-     };
			//- });
			

			function initMap() {
				var map = $('#google-maplima');
				if ( ! map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);
				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"assets/img/marker-1.png"
				});
			}
			initMap();
		});
