extends ./_common/base.pug

block content
	div.content-banner-g
		.img-banner-g.img-nosotros(style='background-image: url(../assets/img/banner_nosotros.jpg);')
		div.content_text_banner
			div.text-banner-g
				h2 Somos un Equipo
				p Brindamos calidad y excelencia
	.detaill-emp
		.container
			a.back-emp(href='') Volver a empresas
			.ctn-detaill-emp.row
				.ctn-detaill-img.col-6
					img(src=`${STATIC_URL}img/img-detaill.jpg` width="550" height="500" alt="Detaill" class='img-fluid')
				.ctn-detaill-info.col-lg-6
					img(src=`${STATIC_URL}img/logo-cifarma-detaill.png` width="281" height="74" alt="Logo" class='img-fluid')
					.ctn-text
						- for (var x = 0; x < 2; x++)
							p Nuestra casa inicia sus operaciones en la ciudad de Lima - Perú en enero de 1998, contando actualmente con muchos años de experiencia en el mercado farmacéutico.
						h3 VISIÓN
						P Somos una Distribuidora Farmacéutica Peruana, que ofrece una amplia gama de productos con cobertura a nivel Nacional, garantizando una atención oportuna y contando con colaboradores altamente calificados y comprometidos con los objetivos de la Organización.
						h3 MISIÓN
						P Somos una Distribuidora Farmacéutica Peruana, que ofrece una amplia gama de productos con cobertura a nivel Nacional, garantizando una atención oportuna y contando con colaboradores altamente calificados y comprometidos con los objetivos de la Organización.
	.block-contact
		.container 
			.row.no-gutters
				.ctn-title-contact.col-lg-5.col-sm-6
					h4 Servicio integral
						strong Contáctanos
				.ctn-text-contact.col-lg-4.col-sm-6
					p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				.ctn-btn-contact.col-lg-3
					a.btn.btn-enlace1.btn-verde.rounded-0( href='') Ir a formulario

