extends ./_common/base.pug

block content
	div.content-banner-g
		.img-banner-g.img-nosotros(style='background-image: url(../assets/img/banner_nosotros.jpg);')
		div.content_text_banner
			div.text-banner-g
				h2 Somos un Equipo
				p Brindamos calidad y excelencia
	.detaill-emp
		.container
			a.back-emp(href='') Volver a empresas
			.ctn-detaill-emp.row
				.ctn-detaill-img.col-6
					img(src=`${STATIC_URL}img/img-detaill.jpg` width="550" height="500" alt="Detaill" class='img-fluid')
				.ctn-detaill-info.col-lg-6
					img(src=`${STATIC_URL}img/logo-cifarma-detaill.png` width="281" height="74" alt="Logo" class='img-fluid')
					.ctn-text
						- for (var x = 0; x < 2; x++)
							p Nuestra casa inicia sus operaciones en la ciudad de Lima - Perú en enero de 1998, contando actualmente con muchos años de experiencia en el mercado farmacéutico.
						h3 VISIÓN
						P Somos una Distribuidora Farmacéutica Peruana, que ofrece una amplia gama de productos con cobertura a nivel Nacional, garantizando una atención oportuna y contando con colaboradores altamente calificados y comprometidos con los objetivos de la Organización.
						h3 MISIÓN
						P Somos una Distribuidora Farmacéutica Peruana, que ofrece una amplia gama de productos con cobertura a nivel Nacional, garantizando una atención oportuna y contando con colaboradores altamente calificados y comprometidos con los objetivos de la Organización.
	.ctn-contact-map.container-fluid
		.row
			.ctn-contact-emp-info.col-lg-6 
				.ctn-contact-emp-info-sub 
					.ctn-title-contact.map
						h4 Encuentranos en
							strong Puntos estratégicos
					.ctn-info-map-sub
						- for (var x = 0; x < 3; x++)
							.info-map-item 
								.info-map-item-dir
									h5 Salamanca
									p Dirección:
										span Garcilazo 241 Salamanca - Ate
										
								.info-map-item-tel
									p Teléfono:
									a.tel-map( href='tel:652 - 1782') 652 - 1782
									a.btn.btn-enlace1.btn-verde.rounded-0( href='') Ver Mapa
			.ctn-contact-emp-map.col-lg-6 
				#ctn-map
				a.btn.btn-enlace1.btn-verde.rounded-0.close-map( href='') Cerrar Mapa
	.block-contact
		.container 
			.row.no-gutters
				.ctn-title-contact.col-lg-5.col-sm-6
					h4 Servicio integral
						strong Contáctanos
				.ctn-text-contact.col-lg-4.col-sm-6
					p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
				.ctn-btn-contact.col-lg-3
					a.btn.btn-enlace1.btn-verde.rounded-0( href='') Ir a formulario

append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {
			function initMap() {
				var $map = $( '#ctn-map' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('ctn-map'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"../assets/img/map.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap);
			$('.ctn-tab-prin:first-child').addClass('active');
			$('.tab-sopor a').click(function(event){
				event.preventDefault();	

				// capturamos el data-id			
				var bdataid = $(this).attr('data-id');
				$(".tab-sopor a").removeClass('active');
				$(this).addClass('active');
				$(".ctn-tab-prin").removeClass('active');
				$('.ctn-tab-prin[id="'+bdataid+'"]').addClass('active');
			});
			
			var width = $(window).innerWidth();
			if (width < 992) {
				$('.btn').click(function(){
					event.preventDefault();	
					$('.ctn-contact-emp-map').addClass('active');
				});
				$('.close-map').click(function(){
					$('.ctn-contact-emp-map').removeClass('active');
				});
			}
		});


