extends ./_common/base.pug

block content
	.msj-enviado
		.msj-envolver
			h2 Enviado!
			h3 Mensaje recibido
			p Nos estaremos comunicando con usted a la brevedad posible.
			a.btn.btn-enlace1.btn-verde.rounded-0(href="") Página Principal