extends ./_common/base.pug

block content
	//- .overlayfancy
	//- a.nombre(href="") click
		
	button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModalLong')
		| Launch demo modal
	#exampleModalLong.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
		.modal-dialog.fancymodadl(role='document')
			.modal-content
				.fancy-n
					span.fancyclose.icon-SVG-10(data-dismiss="modal")
					.fancybox
						h3 Somos un equipo
						h2 Trabaja con nosotros
						p Envíanos tus datos y forma parte de Grupo CORPOL
						.fancy-form
							form(action="")
								ul
									li
										.fancy-itm
											input(
												type="text"
												name="nombre"
												placeholder="Nombre"
											)
										.fancy-itm
											input(
												type="text"
												name="apellido"
												placeholder="Apellido"
											)
									li
										.fancy-itm
											input(
												type="text"
												name="telefono"
												placeholder="Teléfono"
											)
										.fancy-itm
											input(
												type="text"
												name="email"
												placeholder="Email"
											)
									li
										.fancy-itm.fancyadjunt
											input#customfancy(
												type="file"
												name=""
												placeholder=""
											)
											label(for="customfancy") Adjunta tu CV
												
								button(class="btn btn-enlace1 btn-verde rounded-0" href="") Enviar

	append scripts
		script.
			$(function(){
				$('.fancyadjunt').each(function(k, el){
					$(el).find('input[type="file"]').change(function(e){
						$(el).parent().find('label').html('').html( e.target.files[0].name);
					});
				});
			});

			$(document).ready(function(){
			
			});


