extends ./_common/base.pug

block content
	.b1
		.b1-banner 
			ul.b1-contenedor
				li.b1-bgc(style=`background-image: url(${STATIC_URL}img/banner_home.png)`)
					.b1-content-text
						.b1-content-caja
							h2 Servicio integral
							h3 Brindamos calidad y excelencia
							a.btn.btn-enlace1.btn-verde.rounded-0( href='') Conócenos
				li.b1-bgc(style=`background-image: url(${STATIC_URL}img/banner_home.png)`)
					.b1-content-text
						.b1-content-caja
							h2 Servicio integral
							h3 Brindamos calidad y excelencia
							a.btn.btn-enlace1.btn-verde.rounded-0( href='') Conócenos
	.b2
		.b2-content-box
			.b2-text-box
				div.content-title-center
					h3.title-g-center Conócenos
						strong Grupo CORPOL
				.b2-text
					p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
					a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más sobre nosotros
	.b3
		.b3-content
			.b3-items
				.b3-box
					a(href="").b3-img
						div.content-title-left
							h3.title-g-left Nuestras
								strong  Marcas
					a(href="").b3-img
							img(src=`${STATIC_URL}img/logo_farma_mia.png` width="277" height="76" alt="" class='b3-imagen')
					a(href="").b3-img
							img(src=`${STATIC_URL}img/logo_farma_mia.png` width="277" height="76" alt="" class='b3-imagen')
					a(href="").b3-img
							img(src=`${STATIC_URL}img/logo_farma_mia.png` width="277" height="76" alt="" class='b3-imagen')
					a(href="").b3-img
							img(src=`${STATIC_URL}img/logo_farma_mia.png` width="277" height="76" alt="" class='b3-imagen')
					a(href="").b3-img
							img(src=`${STATIC_URL}img/logo_farma_mia.png` width="277" height="76" alt="" class='b3-imagen')
	.b4#animacion
		.b4-content-box
			.b4-wrap
				.b4-info
					div.content-title-center
						div.content-title-left
							h3.title-g-left Servicio integral
								strong Nuestro Proceso
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más Información
				.b4-direcciones
					.b4-left-flex
						.b4-icono
						.b4-texto
							h2 Dirección Estratégica
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					.b4-left-flex
						.b4-icono.b4-ico1
						.b4-texto
							h2 Importación
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					.b4-left-flex
						.b4-icono.b4-ico2
						.b4-texto
							h2 Distribución
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
	.b5
		.b5-bgc(style=`background-image: url(${STATIC_URL}img/b5-bg-video.png)`)
			.b5-bgc-texto.videoGallery
				.b5-texto
					h3 Servicio Integral
					strong y de calidad
					p Lorem Ipsum has been the industry's standard dummy text
					a(href='https://www.youtube.com/watch?v=meBbDqAXago')
						i.b5-icon.icon-play.b5-pulse
							
	section.w-noticias
		.w-noticnt.container
			.content-title-center
				h3.title-g-center Siempre actualizados
					strong Noticias
			.w-boxnoticias
				-for (var x = 0; x < 2; x++)
					.w-notItm
						span.noticiafondo
						figure.w-img
							img(src="assets/img/img-noti-2.jpg", width='570', height='350')
						.w-notiInner
							span.w-fecha-noticias 31 /05/17
							h2 19 Años… Brindando salud.
							p El pasado 24 de abril, se llevó a cabo el 19° Aniversario del GRUPO CORPOL, evento realizado en las instalaciones.....
							a(href="") ver detalle
								span.icon-SVG-19
		.b6-button
			a.btn.btn-enlace1.btn-verde.rounded-0( href='') Todas las noticias

	.b7
		.b7-wrap-content
			.b7-wanch
				span.b7-left
				.b7-content

					h2 Nuestras Certificaciones
					.b7-logos
						img(src=`${STATIC_URL}img/b7_logo.png` width="110" height="110" alt="" class='b7-imagen' )
						img(src=`${STATIC_URL}img/b7_logo.png` width="110" height="110" alt="" class='b7-imagen' )
						img(src=`${STATIC_URL}img/b7_logo.png` width="110" height="110" alt="" class='b7-imagen' )
				.b7-content
					h2 Trabajamos con fabricantes calificados en:
					.b7-logos
						img(src=`${STATIC_URL}img/b7_logo_1.png` width="110" height="110" alt="" class='b7-imagen' )
						img(src=`${STATIC_URL}img/b7_logo_1.png` width="110" height="110" alt="" class='b7-imagen' )
						img(src=`${STATIC_URL}img/b7_logo_2.png` width="112" height="48" alt="" class='b7-imagen' )