extends ./_common/base.pug

block content
	div.content-banner-g
		.img-banner-g.img-nosotros(style='background-image: url(../assets/img/banner_nosotros.jpg);')
		div.content_text_banner
			div.text-banner-g
				h2 Brindamos eficiencia
				p Servicio completo para nuestros clientes

	div.servicio-wrap
		.servicio-cnt-all
			.content-title-center
				h3.title-g-center Nuestro proceso
					strong Servicio integral
			.servicio-cnt-items
				-for (var x = 0; x < 6; x++)
					.servicio-item
						.servicio-info
							.servicio-info-title
								span.servicio-num 2
								h3 Nuestras Experiencias
							.servicio-info-text
								p No hay mejor opción que invertir en América Latina a través de PHARMAGEN Y OQ PHARMA (Empresas del Grupo CORPOL), con más de 20 años de experiencia en el Perú, solida, estable y exitosa.
						.servicio-image
							.servicio-img(style='background-image: url(../assets/img/servicio-img-item.jpg);')
					