.mapcontacto
	width: 100%
	.map
		width: 100%
		height: 450px
.tabfull
	position: relative
.imgs--contac
	position: absolute
	bottom: -30%
	left: -15%
	display: inline-block
	width: 356px
	opacity: .5

.tabcontacto
	max-width: 1600px
	width: 100%
	padding-left: 10px
	padding-right: 10px
	margin: auto
	display: flex
	box-sizing: border-box
	justify-content: space-between
	flex-wrap: wrap
.contac-nav
	width: 50%
	padding-top: 80px
.contact--title_margen
	margin-bottom: 75px	
.contacto_items
	padding-left: 50px

.item--contacto
	margin-bottom: 57px
	padding-left: 70px
	position: relative
	span
		position: absolute
		top: 0
		left: 0
		color: $c-0
		font-weight: bold
		font-size: 18px
		display: inline-block
		border-radius: 50%
		width: 55px
		height: 55px
		line-height: 55px
		text-align: center
		border: 3px solid $c-0
	h1, h3, h2, h4, h5
		font-weight: normal
		font-family: $t-0
		font-size: 16px
		color: $negro
	a, p
		font-size: 16px
		text-decoration: none
		color: $c-1


/*FORMULARIO*/
.contac-form
	width: 48%
	margin-left: 2%;
	padding-top: 45px
	padding-left: 80px
	padding-right: 60px
	padding-bottom: 120px
	box-sizing: border-box
	background: $c-3
	h2
		font-size: 40px
		font-weight: normal
		color: $blanco
		font-family: $t-0
		margin-bottom: 20px
	p	
		color: $blanco
		font-size: 16px
		margin-bottom: 40px
	li
		flex-wrap: wrap
		display: flex
		justify-content: flex-start
.contac-input
	width: 45%	
	margin-bottom: 45px
	+placeholder($blanco,$t-0)
	input, textarea
		font-size: 14px
		color: $blanco
		width: 100%
		height: 40px
		border: none
		background: none
		border-bottom: 1px solid $blanco
	&.active
		input, textarea
			border-bottom: 1px solid $c-7;
	&:first-child
		margin-right: 10%
.contactextarea
	width: 100%
	margin-right: 0 !important
	textarea
		width: 100%
		height: 100px	
@media screen and (max-width: 1200px)
	.imgs--contac
		display: none
@media screen and (max-width: 1024px)
	.contac-form
		padding-left: 20px
		padding-right: 20px


@media screen and (max-width: 960px)
	.tabcontacto
		flex-direction: column
	.contac-nav
		width: 100%	
	.contac-form
		width: 100%
		text-align: center
		margin-left: 0
	.contac-nav h2
		font-size: 25px	
		text-align: center
	.contacto_items
		padding-left: 10px

// VALIDATE
.formError
	.formErrorContent,
	.formErrorArrow div
		background-color: $c-3
		color: blanco 
		border: none 
		font-size: 13px 
		font-family: $t-1 
	.formErrorArrow
		.line1,.line2
			display: none 