.detail--main
	max-width: 1000px
	margin: auto
	width: 100%
	padding: 0px 10px
	box-sizing: border-box
	padding-top: 75px
	padding-bottom: 95px
.detail_link--style
	font-size: 14px
	display: inline-block
	color: $c-1
	position: relative
	padding-left: 40px
	i
		display: inline-block
		position: absolute
		top: 7px
		left: 0
		font-size: 8px
.detail--img1
	width: 100%
	border: 2px solid #f7f8f8
	margin-bottom: 50px
	margin-top: 30px
.detail--img-center
	max-width: 489px
	margin: auto
	width: 100%	
	text-align: center
	img
		width: 100%
		height: auto
		display: block

.detail--title_style
	font-size: 30px
	font-weight: normal		
	font-family: $t-0
	margin-bottom: 30px
.detail--subtitle-style
	font-weight: normal
	position: relative
	padding-left: 30px
	color: $c-0
	font-family: $t-3
	margin-bottom: 33px
	i
		position: absolute
		top: 0px
		left: 0
		color: $c-0
		font-weight: bold
.detail--text--style
	font-size: 16px
	margin-bottom: 65px
.detail--img2
	max-width: 867px
	margin: auto
	width: 100%
	margin-bottom: 80px
	img
		width: 100%
		height: auto
		display: block
@media screen and (max-width: 1000px)
	.detail--img1
		img
			width: 100%
			height: auto
	.detail--text--style
		font-size: 14px		

