.detaill-emp
	padding: 65px 0  90px 0
	box-sizing: border-box
	width: 100%
	position: relative
	&:before
		position: absolute
		top: 0
		right: 0
		content: ""
		background: url('../img/bg-empresa.png') no-repeat 0 -315px
		width: 456px
		height: 180px
.back-emp
	color: #b3b3b3
	font-size: 14px
	font-family: $t-3
	display: block
	position: relative
	padding-left: 48px
	transition: all .3s ease-in-out
	&:before
		content: "\e905"
		position: absolute
		top: 4px
		left: 0
		font-family: icomoon
		font-size: 9px
		transition: all .3s linear
	&:hover
		color: #b3b3b3
.ctn-detaill-emp
	margin-top: 55px
.ctn-text
	margin: 20px 0 0 0
	h3
		color: $c-3
		font-weight: normal
		margin: 0 0 25px 0
		font-family: $t-1
		font-size: 16px
	p
		color: $c-1
		font-size: 15px
		margin: 0 0 20px 0
		line-height: 20px
		&:last-child
			margin-bottom: 0
.block-contact
	width: 100%
	padding: 30px 0
	margin: 0 0 40px 0
	background: $c-3
	color: $blanco
	.container
		max-width: 1040px
.ctn-title-contact
	h4
		font-weight: normal
		font-family: $t-0
		font-size: 16px
		position: relative
		padding-left: 50px
		margin: 0
		&:before
			content: ''
			position: absolute
			top: 6px
			left: 0
			height: 2px
			width: 30px
			background: $blanco
		strong
			display: block
			font-weight: normal
			font-size: 40px
			margin-top: 7px
	&.map
		h4
			color: $c-0
			&:before
				background: $c-0
			strong
				color: $negro
.ctn-text-contact
	font-family: $t-3
	font-size: 14px
	line-height: 19px
	position: relative
	padding-left: 35px !important
	border-left: 1px solid rgba(255, 255, 255, .5)
	p 
		margin: 0
.ctn-btn-contact
	justify-content: flex-end
	display: flex
	a
		margin-left: 0
		margin-top: 0
		margin-right: 0
		display: inline-block
		height: auto
.ctn-contact-map
	margin: 0 0 40px 0
.ctn-contact-emp-info
	background: rgba(242, 242, 242, .4)
	display: flex
	align-items: center
	justify-content: center
.ctn-contact-emp-info-sub
	max-width: 515px
	margin: auto
	width: 100%
.ctn-info-map-sub
	margin: 55px 0 0 0
	padding-left: 50px
.info-map-item
	padding: 25px 0 
	display: flex
	justify-content: space-between
	border-bottom: 3px solid $c-6
	padding-right: 35px
.info-map-item-dir
	max-width: 230px
	h5
		font-weight: normal
		margin: 0
		font-family: $t-1
		font-size: 16px
	p 
		margin: 12px  0 0 0
		font-family: $t-3
		font-size: 15px
		color: $c-1
.info-map-item-tel
	font-size: 15px
	font-family: $t-3
	color: $c-1
	max-width: 150px
	p 
		margin: 0
	a
		display: block
		&.tel-map
			color: $c-1
		&.btn
			margin-top: 20px
			&:before
				position: absolute
				top: 12px
				right: 10px
				color: $blanco
				content: "\e906"
				font-family: icomoon
.ctn-contact-emp-map
	height: 800px
	padding: 0
	a
		display: none
#ctn-map
	height: 800px
	width: 100%
	
@media screen and (min-width: 1025px)
	.back-emp:hover
		&:before
			transform: translateX(-10px)
@media screen and (max-width: 991px)
	.detaill-emp
		padding: 50px 0
		&:before
			display: none
	.ctn-detaill-emp
		margin-top: 50px
	.ctn-contact-emp-map
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 100%
		transition: all .5s linear
		transform: translateY(-300%)
		&.active
			transform: translateY(0)
			z-index: 1000
		a
			display: block
			position: absolute
			top: 30px
			right: 30px
			max-width: 200px
			z-index: 3
	.ctn-contact-emp-info
		height: auto
		padding-top: 30px
		padding-bottom: 30px
	.ctn-detaill-img
		display: none
	.ctn-contact-emp-info
		.btn:hover
			color: $blanco
	.ctn-contact-emp-info-sub
		max-width: 100%
	.ctn-info-map-sub
		margin-top: 30px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding-left: 0
	.info-map-item
		display: block
		border: 0
		padding-bottom: 0
		padding-right: 0
		width: 30%
		padding-top: 0
	.info-map-item-tel, .info-map-item-dir
		max-width: 100%
	.ctn-title-contact h4 strong
		font-size: 30px
	.ctn-btn-contact
		margin-top: 20px
		justify-content: center
@media screen and (max-width: 640px)
	.detaill-emp
		padding: 30px 0
@media screen and (max-width: 575px)
	.ctn-text-contact
		padding-left: 0 !important
		border-left: 0
		margin-top: 20px
	.ctn-title-contact h4 strong
		font-size: 25px
	.ctn-text 
		p
			font-size: 13px
		h3
			font-size: 14px
			margin-bottom: 20px
@media screen and (max-width: 480px)
	.info-map-item
		width: 100%
		margin-bottom: 15px
		&:last-child
			margin-bottom: 0
	.info-map-item-tel
		.btn
			max-width: 150px	