.empresas
	background-color: $c-6

.page_empresas
	max-width: 1270px
	padding-top: 90px
	padding-bottom: 100px
	p
		font-size: 16px
		font-family: $t-3
		color: $c-1
		padding-top: 35px

.content-parrafo-title
	max-width: 585px
	margin: auto

.content-card-empresas
	max-width: 1200px;
	width: 100%
	display: flex
	flex-direction: row
	flex-wrap: nowrap
	justify-content: flex-start
	background-color: $blanco
	border: none
	margin-top: 60px
	&:hover
		box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.1)
	&:nth-child(even)
		margin-left: 3.3%
	.content-img-empresas
		width: 635px
		height: 380px
		.img-empresas
			width: 100%
			height: 100%
			background-repeat: no-repeat
			background-size: cover
	.empresas-body-card
		max-width: 475px
		width: 100%
		margin: auto

@media screen and (max-width: 1025px)
	.content-card-empresas
		.empresas-body-card
			max-width: 650px
			width: 100%
			text-align: center


@media screen and (max-width: 640px)
	.page_empresas
		p
			font-size: 14px
	.content-parrafo-title
		text-align: center
	.content-card-empresas
		&:nth-child(even)
			margin-left: 0
		.content-img-empresas
			display: none
@media screen and (max-width: 360px)
	.content-card-empresas
		.empresas-body-card
			img
				width: 100%
