.fancymodadl
	max-width: 900px
	.modal-content
		padding-left: 20px
		padding-right: 20px
		box-sizing: border-box
.fancy-n
	z-index: 120
	text-align: center
	margin: auto
	background: #fff
	display: flex
	justify-content: center
	align-items: center
	padding: 60px 0px
	box-sizing: border-box
	max-width: 630px
	width: 100%

.fancyclose
	position: absolute
	top: 20px
	right: 30px
	color: $blanco
	width: 40px	
	height: 40px
	line-height: 40px
	border-radius: 50%
	display: block
	background: #0096c1
	cursor: pointer

.fancybox
	width: 100%
	h3
		font-size: 16px
		font-weight: normal
		font-family: $t-0
		color: #005999
	h2
		font-weight: normal
		font-family: $t-0
		font-size: 40px
		margin-bottom: 35px
	p
		font-size: 16px
		color: #666666
.fancy-form
	max-width: 630px
	width: 100%
	margin: auto
	margin-top: 35px
	li
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		margin-bottom: 17px
.fancy-itm
	width: 48%
	+placeholder($c-1,$t-3)
	&:first-child
		margin-right: 4%
	input, textarea
		width: 100%
		height: 40px
		padding: 0px 10px
		border: none
		color: $c-1
		font-size: 13px
		box-sizing: border-box
		background: #f2f2f2
.fancyadjunt
	width: 100%
	height: 40px
	position: relative
	input
		display: none
	&:first-child
		margin-right: 0
	label
		width: 100%
		text-align: left
		position: absolute
		top: 0
		font-size: 13px
		line-height: 40px
		padding: 0px 10px
		box-sizing: border-box
		left: 0
		color: $c-1
		height: 40px
		background: #f2f2f2


@media screen and (max-width: 640px)
	.fancy-form	li
		margin-bottom: 0
	.fancy-itm
		width: 100%
		margin-bottom: 17px
		&:first-child
			width: 100%
			margin-right: 0
	.fancybox h2
		font-size: 30px	
		margin-bottom: 20px	
	.fancyclose
		right: 10px
		top: 10px	
@media screen and (max-width: 480px)
	.fancybox h2
		font-size: 22px