@keyframes pulse
	from 
		transform: scale3d(1, 1, 1)


	50% 
		transform: scale3d(1.05, 1.05, 1.05)


	to 
		transform: scale3d(1, 1, 1)

.b1
	.btn-verde
		transform: translateY(20px)
		opacity: 0
		transition-duration: 0.55s
		transition-delay: 550ms;
		transition: translate3d(-3166px, 0px, 0px)
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
		bottom: 100px
		z-index: 55
	.bx-wrapper .bx-pager.bx-default-pager a
		width: 20px
		height: 20px
		border-radius: 50px
		border: 2px solid white
		position: relative
		background: transparent
	.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active
		position: relative		
		&:before
			content: ""
			position: absolute
			width: 10px
			height: 10px
			border-radius: 50%
			background-color: white
			top: 0
			left: 0
			right: 0
			margin: auto
			bottom: 0
.b1-banner
	margin: auto 
	text-align: center
	ul
		li
			width: 100%
			height:	662px
			background-repeat: no-repeat
			background-position: center center
			background-size: cover
			position: relative
			&:before
				content: ""
				position: absolute
				width: 100%
				height: 100%
				left: 0
				right: 0
				top: 0
				bottom: 0
				background: linear-gradient(to bottom, rgba(0, 50, 112, 0.60) 0%, rgba(0, 151, 193, 0.60) 100%);
.b1-content-text
	position: relative
	z-index: 5
	display: flex
	flex-direction: column
	align-items: center
	height: 100%
	text-align: center
	justify-content: center
	opacity: 1
	h2
		font-size: 65px
		font-family: $t-0
		color: $blanco
		transform: translateY(50px)
		transition: translate3d(-3166px, 0px, 0px)
		opacity: 0
		transition-delay: 450ms;
		transition-duration: 0.55s
		
	h3
		font-size: 40px
		color: $blanco
		transform: translateY(25px)
		transition: translate3d(-3166px, 0px, 0px)
		margin-bottom: 70px
		opacity: 0
		transition-duration: 0.70s
		transition-delay: 650ms;
.b1-banner 
	.active
		.b1-content-text
			h2
				opacity: 1
				transform: translateY(0px)
			h3
				opacity: 1
				transform: translateY(0px)
			.btn-verde
				opacity: 1
				transform: translateY(0px)
.b2
	padding-top: 110px
	padding-bottom: 120px
	overflow: hidden
	position: relative
	&:before
		content: ""
		position: absolute
		left: -5%
		overflow: hidden
		top: 0
		width: 543px
		height: 609px
		background-image:  url(../img/b2-patron.png)
	&:after
		content: ""
		position: absolute
		right: -5%
		top: 0
		width: 569px
		height: 609px
		background-image: url(../img/b2-patron2.png)
	
.b2-content-box
	flex-direction: column
	text-align: center
	max-width: 578px
	margin: auto
	position: relative
		
.b2-text
	p
		font-family: $t-3
		font-size 16px
		color: $c-1
		padding-bottom: 41px
.b3
	background: #f7f8f8
	.content-title-left
		width: 33%
		padding-left: 122px
	
.b3-items
	max-width: 1180px
	margin: auto
	padding-top: 69px
	padding-bottom: 63px
.b3-box
	display: flex
	flex-wrap: wrap


.b3-img
	width: 32%
	text-align: center
	margin-left: 1%
	padding-bottom: 70px
	margin-bottom: 1%
	background-color: $blanco
	padding-top: 70px
	transition: all .25s ease-out
	transform: scale(1)
	img
		max-width: 100%
		height: auto
		display: block
	&:first-child
		background-color: transparent
		
	@media screen and (min-width: 1025px)
		&:hover
			transform: scale(1.1)
			z-index: 100
			box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.5)
			transition: all .25s ease-out
			&:first-child
				transform: scale(1)
				box-shadow: inherit
.b4
	padding-top: 115px
	padding-bottom: 115px

.b4-wrap
	display: flex
.b4-content-box
	max-width: 1140px
	margin: auto
	&.b4-anima
		.b4-icono
			transform: translateX(0)
			opacity: 1
		.b4-texto
			h2
				transform: translateX(0)
				opacity: 1
			p
				transform: translateX(0)
				opacity: 1
.b4-info
	align-self: center
	p
		font-size: 16px
		max-width: 515px
		font-family: $t-3
.b4-direcciones
	display: flex
	padding-left: 4%

.b4-icono
	width: 80px
	height: 80px
	opacity: 0 
	border-radius: 50%
	border: 1px solid $c-0
	position: relative
	transition: all 1s ease
	transform: translateX(360px)
	&:before
		content: "\e912"
		font-family: icomoon
		font-size: 44px
		color: $c-0
		position: absolute
		left: 0
		right: 0
		top: 0
		color: $c-0
		bottom: 0
		text-align: center
	&.b4-ico1
		position: relative
		&:before
			content: "\e911"
			font-family: icomoon
	&.b4-ico2
		position: relative
		&:before
			content: "\e910"
			font-family: icomoon
			
		
.b4-texto
	padding-left: 5%
	h2
		font-size: 16px
		opacity: 0 
		font-family: $t-1
		transform: translateX(180px)
		transition: all 1.3s ease
		
	p
		font-size: 15px
		opacity: 0 
		font-family: $t-3
		max-width: 336px
		transform: translateX(180px)
		transition: all 1.5s ease
		
.b4-left-flex
	display: flex
	margin-bottom: 90px
.b4-direcciones
	display: flex
	flex-direction: column
.b5-bgc
	width: 100%
	height: 499px
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	position: relative
	&:before
			content: ""
			position: absolute
			width: 100%
			height: 100%
			left: 0
			right: 0
			top: 0
			bottom: 0
			background: rgba(0, 50, 112, 0.73)
.b5-bgc-texto
	position: relative
	z-index: 20
	color: #fff
	text-align: center
	display: flex
	flex-direction: column
	height: 100%
	justify-content: center
	h3
		font-size: 30px
		font-family: $t-0
		margin: auto
		
	strong
		font-size: 25px
		font-weight: lighter
	p
		font-size: 16px
		font-family: $t-3
.b5-icon
	font-size: 60px
.b5-pulse
	animation: pulse 450ms linear infinite	
.w-noticias
	padding-top: 85px
	padding-bottom: 30px
.w-noticnt
	text-align: center
	max-width: 1200px
.w-boxnoticias
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-top: 55px
.w-notItm
	width: 48.5%
	position: relative
	margin-bottom: 35px
	overflow: hidden
	margin-right: 3%
	&:nth-child(2n+2)
		margin-right: 0
	@media screen and (min-width: 1024px)
		&:hover
			.w-img
				transition: all .3s ease
				filter: blur(3px)	
.noticiafondo
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: block
	background: #000
	opacity: .3	
	display: block
	
.w-img
	width: 100%
	img
		width: 100%
		height: auto
		display: block		
.w-notiInner
	width: 100%
	position: absolute
	top: 75px
	left: 0
	padding: 0px 50px
	color: $blanco
	text-align: left
	h2
		font-weight: normal
		font-family: $t-0
		font-size: 22px
		margin-bottom: 35px
	p
		font-size: 15px	
		margin-bottom: 55px
	a
		text-decoration: none
		color: $blanco	
		span
			font-size: 10px
			display: inline-block
			margin-left: 10px


.w-fecha-noticias
	font-size: 15px
	font-family: $t-3
	display: block
	margin-bottom: 10px
.b6-button
	text-align: center
.b7-content
	h2
		font-size: 25px
.b7-wanch
	display: flex
	max-width: 1390px
	margin: auto
	position: relative
.b7-content
	width: 50%
	padding-top: 47px
	padding-bottom: 40px
	text-align: center
	h2
		font-family: $t-0
		margin: auto 
		font-size: 25px
	
.b7-left
	width: 5px
	height: 170px
	background-color: #f2f2f2
	position: absolute
	right: 0
	left: 0
	bottom: 0
	top: 0
.b7-wrap-content
	border-top: 4px solid #f2f2f2
	border-bottom: 4px solid #f2f2f2
.b7-logos
	display: flex
	padding-top: 40px

	img
		max-width: 100%
		height: auto
		display: block
@media screen and (max-width: 1200px)
	.w-notiInner
		top: inherit
		bottom: 20px
		padding: 0px 10px
	.w-notiInner p
		margin-bottom: 20px
	.w-notiInner h2
		margin-bottom: 10px
@media screen and (max-width: 1090px)
	.b7-content
		h2
			font-size: 20px
@media screen and (max-width: 1024px)
	.w-notiInner
		opacity: 0
		visibility: hidden
		&.active
			opacity: 1
			visibility: visible
@media screen and (max-width: 980px)
	.b3-img
		width: 48%
	.b2:before
		display: none
@media screen and (max-width: 768px)
	.w-fecha-noticias
		display: none	
	.w-notiInner p
		display: none	
	.w-notiInner p
		font-size: 13px		
	.w-notiInner h2
		font-size: 17px
	.b1-content-text 
		h2
			font-size: 30px
		h3
			font-size: 25px
	.b2
		padding-bottom: 30px
		padding-top: 60px
	.b3-img
		width: 100%
	.b3-items
		padding-bottom: 10px
	.b4-wrap
		flex-direction: column
	.b3-img
		padding-bottom: 30px
		padding-top: 30px	

	.b4-direcciones
		margin: auto 
		padding-left: inherit
		margin-top: 10%
		max-width: 600px
	.b7-wanch
		flex-direction: column
	.b7-content
		width: 100%
	.b7-left
		display: none
		
@media screen and (max-width: 640px)
	.w-notItm
		width: 100%
		margin-right: 0
		&:nth-child(2n+2)
			margin-right: 0

@media screen and (max-width: 480px)
	.b4-info
		text-align: center
		p
			text-align: center	
	.b4-direcciones
		max-width: inherit
		
	.b7-logos
		flex-direction: column
	.b2
		padding-top: 70px
		padding-bottom: 70px
	.b2-text 
		p
			font-size: 14px
	.b3-items
		padding-bottom: 20px
		padding-top: 20px
	.b3-img
		padding-bottom: 30px
		padding-top: 30px
	.b4
		padding-top: 40px
		padding-bottom: 10px
	.b4-left-flex
		flex-direction: column
		margin-bottom: 20px
	.b4-icono
		text-align: center
		margin: auto
	.b4-texto
		text-align: center
		padding-left: 0px
		padding-top: 30px
	.b4-info p
		font-size: 14px
	.b5-bgc-texto
		h3
			font-size: 20px
		strong
			font-size: 18px
		p
			font-size: 14px
	.b5-bgc
		height: 350px
	.b7-imagen
		padding-bottom: 20px
	.b7-content
		padding-top: 20px
		padding-bottom: 10px
		
	
	
