.msj-enviado
	text-align: center
	padding: 60px 0
	height: calc(100vh - 350px)
	display: flex
	box-sizing: border-box
	justify-content: center
	align-items: center
	h2
		font-size: 160px
		font-weight: normal
		font-family: $t-0
		color: #edeef0
		line-height: 120px
		margin-bottom: 60px
	h3
		font-size: 30px
		color: $negro
		font-weight: normal
		font-family: $t-0
		margin-bottom: 35px
	p
		font-size: 16px	
		color: $c-6
		margin-bottom: 40px

.msj-envolver
	max-width: 800px
	width: 95%
	margin: auto

@media screen and (max-width: 1024px)
	.msj-enviado h2
		font-size: 60px
		line-height: 1
		margin-bottom: 30px
	.msj-enviado
		height: auto	