.nosotros_experiencia
	max-width: 1410px
	width: 100%
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	margin: auto
	padding: 100px 0px
	align-items: flex-end
	.nosotros_text_experiencia
		background-color: $c-6
		width: 54%
		display: flex
		margin-right: -70px
		margin-bottom: -30px
		z-index: 2
		.nosotros_title_left
			max-width: 580px
			width: 80%
			margin: auto
			padding: 65px 0px
			p
				font-size: 18px
				font-family: $t-2
				strong
					font-family: $t-3
					font-weight: 100

	.nosotros_img_experiencia
		width: 50%
		height: 430px
		.img_experiencia
			width: 100%
			height: 100%
			display: block
			background-repeat: no-repeat
			background-size: cover
			background-position: center
.content_banner_azul
	width: 100%
	height: auto
	background-color: $c-3
	.nosotros_banner_azul
		max-width: 1170px
		width: 100%
		margin: auto
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		padding: 90px 0px
		.banner_azul_text1
			width: 46%
			margin: auto
			color: $blanco

			p
				font-size: 22px
				font-family: $t-2
				padding-bottom: 30px
			span
				font-size: 16px
				font-family: $t-3
		.banner_azul_text2
			width: 47%
			margin: auto
			color: $blanco
			p
				font-size: 16px
				font-family: $t-3
				padding-bottom: 10px

.content_nosotros_valores
	margin: 60px 0px
	h4
		text-align: center
		font-family: $t-0
		font-size: 40px
	.nosotros_valores
		width: 100%
		margin: auto
		background-color: $c-6
		padding-top: 80px
		padding-bottom: 30px
		margin-top: -25px
		.container
			max-width: 1070px
			width: 100%
		.valores_corporativos
			max-width: 500px
			width: 100%
			display: flex
			flex-wrap: wrap
			flex-direction: row
			justify-content: flex-start
			padding-bottom: 60px
			.valores_icon
				width: 65px
				height: 65px
				border-radius: 100%
				display: flex
				border: 3px solid $c-3
				img
					height: auto
					display: block
					padding: 5px
			.text_valores
				width: 75%
				margin: auto
				padding-left: 14px
				p
					font-size: 20px
					font-family: $t-0
				span
					font-size: 15px
					font-family: $t-3

.b10
	padding-top: 50px
	padding-bottom: 100px
	
	.slick-initialized .slick-slide
		display: flex
	.slick-dots
		margin-bottom: inherit
		position: absolute
		text-align: center
		left: 0
		right: 0
		top: 0
		bottom: 0
		button
			border: none
			background: none
			font-size: 25px
			color: #00c18b
			font-family: $t-0
			transition: all 450ms ease
	.slick-active
		button
			font-size: 70px
.b10-contenedor-slider
	position: relative	
.b10-item
	display: flex
	flex-direction: row
.b10-texto
	width: 31%
	margin: auto
	h3
		font-size: 30px
		font-family: $t-1
	p
		font-size: 16px
		font-family: $t-3 
.b10-imagen
	width: 47%
	img
		max-width: 100%
		height: auto
		display: block
.nosotros_nuestro_proceso
	width: 100%
	margin: auto
	background : linear-gradient(90deg, rgba(0, 117, 172, 1) 0%, rgba(0, 150, 193, 1) 99.82%);
	.nuestro_proceso
		max-width: 1200px
		width: 100%
		margin: auto
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		margin-bottom: 50px
		.img1_nuestro_proceso
			width: 20%
		.text_nuestro_proceso
			text-align: center
			width: 50%
			margin: auto
			color: $blanco
			padding: 60px 0px
			h4
				font-family: $t-0
				font-size: 35px
				margin-bottom: 0
			p
				font-family: $t-3
				font-size: 16px
				margin-bottom: 0
				padding: 30px 0px
		.img2_nuestro_proceso
			width: 30%
			right: 0
			img
				width: 100%
				height: auto
				display: block
@media screen and (max-width: 950px)
	.b10
		display: flex
		flex-direction: column
		text-align: center
	.b10-contenedor-slider
		.slick-list draggable
			height: inherit
	.b10 .slick-initialized .slick-slide
		flex-direction: column
	.b10-imagen
		display: none
	.b10-texto
		width: 100%
		margin-top: 2%
		h3
			font-size: 20px
		p
			font-size: 14px
	.b10 .slick-dots
		display: flex
		position: inherit
	.b10-contenedor-slider
		display: flex
		flex-direction: column-reverse
	.b10 .slick-active button
		color: $c-1
		font-size: 30px
				position: relative

@media screen and (max-width: 1025px)
	.nosotros_nuestro_proceso
		.nuestro_proceso
			.text_nuestro_proceso
				width: 90%
			.img1_nuestro_proceso
				display: none
			.img2_nuestro_proceso
				display: none

@media screen and (max-width: 991px)
	.content_nosotros_valores
		h4
			font-size: 30px
	.nosotros_experiencia
		.nosotros_text_experiencia
			width: 100%
		.nosotros_img_experiencia
			width: 100%

@media screen and (max-width: 768px)
	.nosotros_experiencia
		padding: 50px 0px
		.nosotros_text_experiencia
			.nosotros_title_left
				width: 90%
				p
					font-size: 15px
		.nosotros_img_experiencia
			max-width: 100%
			height: 380px
	.content_banner_azul
		.nosotros_banner_azul
			width: 90%
			.banner_azul_text1
				padding: 0px
				p
					 font-size: 18px
				span
					font-size: 14px
			.banner_azul_text2
				padding: 0px
				p
					font-size: 14px
	.content_nosotros_valores
		.nosotros_valores
			.valores_corporativos
				.text_valores
					p
						font-size: 18px
					span
						font-size: 13px
	.nosotros_nuestro_proceso
		.nuestro_proceso
			.text_nuestro_proceso
				h4
					font-size: 30px
				p
					font-size: 14px

@media screen and (max-width: 640px)
	.content_banner_azul
		.nosotros_banner_azul
			padding: 50px 0px
			.banner_azul_text1
				width: 100%
				margin-bottom: 40px
				p
					padding-bottom: 0px
			.banner_azul_text2
				width: 100%
	.content_nosotros_valores
		.nosotros_valores
			.valores_corporativos
				padding-bottom: 40px


.servicio-wrap
	padding: 85px 0 90px 0

.servicio-cnt-all
	max-width: 1240px
	margin: auto
	padding: 0 20px
	box-sizing: border-box


.servicio-cnt-items
	margin-top: 70px

.servicio-item
	margin-bottom: 60px	
	font-size: 0
	display: flex
	flex-wrap: wrap
	flex-direction: row-reverse
	align-items: center

.servicio-item
	&:last-child
		margin-bottom: 0
	&:nth-child(odd)
		.servicio-image
			&:after
				background: $c-7
		.servicio-num
			color: $c-7
	&:nth-child(even)
		.servicio-image
			&:after
				background: $c-2
		.servicio-num
			color: $c-2

.servicio-image
	width: 49%
	display: inline-block
	vertical-align: middle

.servicio-image
	position: relative
	padding: 50px 0 0 50px 
	box-sizing: border-box
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 85%
		height: 85%
		z-index: 1

.servicio-img
	width: 100%
	background-position: center center
	background-size: cover
	background-repeat: no-repeat
	height: 300px
	position: relative
	z-index: 2

.servicio-info
	width: 51%
	display: inline-block
	vertical-align: middle
	padding-left: 5%
	box-sizing: border-box

.servicio-info-title
	padding: 40px 0
	position: relative
	h3
		font-size: 30px
		font-family: $t-0
		color: $negro
		margin: 0
		position: relative

.servicio-num
	font-size: 120px
	line-height: 120px
	display: block
	position: absolute
	top: -10px 
	left: -20px
	font-family: $t-0
	opacity: .4

.servicio-info-text
	p 
		font-family: $t-3
		font-size: 16px
		margin: 0
		line-height: 1.2

@media screen and (max-width: 1024px)
	.servicio-wrap
		padding: 50px 0

@media screen and (max-width: 960px)
	.servicio-cnt-items
		margin-top: 50px

	.servicio-item
		margin-bottom: 50px

	.servicio-info
		width: 100%
		padding-left: 0
		margin-bottom: 30px

	.servicio-image
		width: 100%
		padding: 0
		&:after
			display: none

	.servicio-img
		height: 250px

	.servicio-info-title	
		display: flex
		flex-direction: row
		align-items: center 
		justify-content: flex-start
		padding: 0
		margin-bottom: 30px

	.servicio-num
		font-size: 80px
		line-height: 80px
		position: relative
		top: 0
		left: 0
		margin: 0
		padding-right: 10px

@media screen and (max-width: 767px)
	.servicio-item
		margin-bottom: 30px

	.servicio-wrap
		padding: 40px 0

	.servicio-cnt-all
		padding: 0 15px 