.w-noticias
	padding-top: 85px
	padding-bottom: 30px
.w-noticnt
	text-align: center
	max-width: 1200px
.w-boxnoticias
	display: flex
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-top: 55px
.w-notItm
	width: 48.5%
	position: relative
	margin-bottom: 35px
	overflow: hidden
	margin-right: 3%
	&:nth-child(2n+2)
		margin-right: 0
	@media screen and (min-width: 1024px)
		&:hover
			.w-img
				transition: all .3s ease
				filter: blur(3px)	
.noticiafondo
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	display: block
	background: #000
	opacity: .3	
	display: block
	
.w-img
	width: 100%
	img
		width: 100%
		height: auto
		display: block		
.w-notiInner
	width: 100%
	position: absolute
	top: 75px
	left: 0
	padding: 0px 50px
	color: $blanco
	text-align: left
	h2
		font-weight: normal
		font-family: $t-0
		font-size: 22px
		margin-bottom: 35px
	p
		font-size: 15px	
		margin-bottom: 55px
	a
		text-decoration: none
		color: $blanco	
		span
			font-size: 10px
			display: inline-block
			margin-left: 10px

.w-fecha-noticias
	font-size: 15px
	font-family: $t-3
	display: block
	margin-bottom: 10px

@media screen and (max-width: 1200px)
	.w-notiInner
		top: inherit
		bottom: 20px
		padding: 0px 10px
	.w-notiInner p
		margin-bottom: 20px
	.w-notiInner h2
		margin-bottom: 10px
@media screen and (max-width: 1024px)
	.w-notiInner
		opacity: 0
		visibility: hidden
		&.active
			opacity: 1
			visibility: visible

@media screen and (max-width: 768px)
	.w-fecha-noticias
		display: none	
	.w-notiInner p
		display: none	
	.w-notiInner p
		font-size: 13px		
	.w-notiInner h2
		font-size: 17px

@media screen and (max-width: 640px)
	.w-notItm
		width: 100%
		margin-right: 0
		&:nth-child(2n+2)
			margin-right: 0
