
<div class="header-wrap">
  <div class="header-fixed">
    <div class="header-cnt"><a class="header-logo" href="home.html"><img src="assets/img/header-logo.png" alt=""/></a>
      <div class="header-cnt-list">
        <ul class="header-list">
          <li class="header-item"><a class="header-link" href="nosotros.html">Productos</a></li>
          <li class="header-item"><a class="header-link" href="empresas.html">Empresas</a></li>
          <li class="header-item"><a class="header-link" href="proceso.html">Proceso</a></li>
          <li class="header-item"><a class="header-link" href="noticias.html">Noticias</a></li>
          <li class="header-item"><a class="header-link" href="contacto.html">Contacto</a></li>
        </ul>
      </div>
      <div class="header-languages">
        <div class="header-languages-select">
          <select>
            <option value="español">Es</option>
            <option value="ingles">En</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu-mobile-open icon-menu"></div>
<div class="menu-mobile-close icon-close"></div>
<div class="header-menu-overlay"></div>
<div class="menu-sidebar">
  <div class="menu-sidebar-cnt"></div>
</div>