// FONTS
// -----

@font-face
  font-family: 'Arial'
  src: url('../fonts/Arial.eot')
  src: url('../fonts/Arial.woff2') format("woff2"), url('../fonts/Arial.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'ArialMT'
  src: url('../fonts/ArialMT.woff') format("woff"), url('../fonts/ArialMT.ttf') format("truetype"), url('../fonts/ArialMT.svg#ArialMT') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Arial Bold'
  src: url('../fonts/Arial Bold.eot')
  src: url('../fonts/Arial Bold.woff2') format("woff2"), url('../fonts/Arial Bold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Arial-BoldMT'
  src: url('../fonts/Arial-BoldMT.woff') format("woff"), url('../fonts/Arial-BoldMT.ttf') format("truetype"), url('../fonts/Arial-BoldMT.svg#Arial-BoldMT') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Gotham-Black'
  src: url('../fonts/Gotham-Black.woff') format("woff"), url('../fonts/Gotham-Black.ttf') format("truetype"), url('../fonts/Gotham-Black.svg#Gotham-Black') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Gotham-Bold'
  src: url('../fonts/Gotham-Bold.eot')
  src: url('../fonts/Gotham-Bold.woff2') format("woff2"), url('../fonts/Gotham-Bold.woff') format("woff"), url('../fonts/Gotham-Bold.ttf') format("truetype"), url('../fonts/Gotham-Bold.svg#Gotham-Bold') format("svg"), url('../fonts/Gotham-Bold.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Gotham-BoldItalic'
  src: url('../fonts/Gotham-BoldItalic.eot')
  src: url('../fonts/Gotham-BoldItalic.woff2') format("woff2"), url('../fonts/Gotham-BoldItalic.woff') format("woff"), url('../fonts/Gotham-BoldItalic.ttf') format("truetype"), url('../fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format("svg"), url('../fonts/Gotham-BoldItalic.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Gotham-Book'
  src: url('../fonts/Gotham-Book.eot')
  src: url('Gotham-Book.woff2') format("woff2"), url('../fonts/Gotham-Book.woff') format("woff"), url('../fonts/Gotham-Book.ttf') format("truetype"), url('../fonts/Gotham-Book.svg#Gotham-Book') format("svg"), url('../fonts/Gotham-Book.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Gotham-Light'
  src: url('../fonts/Gotham-Light.woff') format("woff"), url('../fonts/Gotham-Light.ttf') format("truetype"), url('../fonts/Gotham-Light.svg#Gotham-Light') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Gotham-Medium'
  src: url('../fonts/Gotham-Medium.eot')
  src: url('../fonts/Gotham-Medium.woff2') format("woff2"), url('../fonts/Gotham-Medium.woff') format("woff"), url('../fonts/Gotham-Medium.ttf') format("truetype"), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format("svg"), url('../fonts/Gotham-Medium.eot?#iefix') format("embedded-opentype")
  font-weight: normal
  font-style: normal