extends ./_common/base.pug
//- btn
block content
	a.btn.btn-enlace1.btn-verde.rounded-0( href='') Más sobre nosotros

	a.btn.btn-enlace1.btn-verde.rounded-0( href='')
		| Compartir en
		i.icon-SVG-11
			
	a.btn.btn-enlace1.btn-verde.rounded-0( href='')
		| Ver mapas
		i.icon-SVG-17

	//-title
	div.content-title-center
		h3.title-g-center Conócenos
			strong Grupo CORPOL

	div.content-title-left
		h3.title-g-left Nuestra experiencia
			strong Grupo CORPOL

	//-banner
	div.content-banner-g
		.img-banner-g.img-nosotros(style='background-image: url(../assets/img/banner_nosotros.jpg);')
		div.content_text_banner
			div.text-banner-g
				h2 Somos un Equipo
				p Brindamos calidad y excelencia
	
