.content-title-center
	text-align: center
	.title-g-center 
		font-size: 16px
		color: $c-0
		font-family: $t-0
		strong 
			font-family: $t-0
			font-size: 40px
			color: $negro
			display: block
			padding-top: 10px

.content-title-left
	text-align: left
	padding-left: 50px;
	.title-g-left
		font-size: 16px
		color: $c-0
		font-family: $t-0
		position: relative
		&:before
			content: ''
			height: 3px
			width: 30px
			background: $c-0
			position: absolute
			bottom: -10px
			left: 0px
			margin-left: -56px
			top: 11px
		strong
			font-family: $t-0
			font-size: 40px
			color: $negro
			display: block
			padding-top: 10px

@media screen and(max-width: 640px)
	.content-title-center
		.title-g-center
			strong
				font-size: 30px
	.content-title-left
		.title-g-left
			strong
				font-size: 30px