// BUTTONS
@keyframes wobble-vertical 
	16.65% 
		transform: translateY(8px)
	

	33.3% 
		transform: translateY(-6px)


	49.95% 
		transform: translateY(4px)


	66.6% 
		transform: translateY(-2px)


	83.25% 
		transform: translateY(1px)
	

	100% 
		transform: translateY(0)
	

.btn-enlace1
	padding: 13px 34px 13px 34px
	text-transform: uppercase
	font-size: 14px
	font-family: $t-1
	transform: perspective(1px) translateZ(0)
	i
		padding-left: 17px
		font-size: 13px
	@media screen and (min-width: 1025px)
		&:hover
			animation-timing-function: ease-in-out
			animation-iteration-count: 1
			color: $blanco
			animation-name: wobble-vertical
			animation-duration: 1s
			animation-timing-function: ease-in-out
			animation-iteration-count: 1
			


.btn-verde
	background-color: $c-7
	color: $blanco
	