.content-banner-g
	width: 100%
	height: 450px
	position: relative
	&:before
		content: ''
		width: 100%
		height: 100%
		position: absolute
		background: linear-gradient(to bottom, rgba(0,50,112,1) 0%, rgba(0,151,193,1) 100%)
		z-index: 1
		opacity: 0.5
	.img-banner-g
		width: 100%
		height: 100%
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		filter: grayscale(100%)
		position: absolute
		top: 0
		left: 0
	.content_text_banner
		position: relative
		display: flex
		align-items: center
		height: 100%
		z-index: 2
		.text-banner-g
			max-width: 700px
			width: 100%
			margin: auto
			color: $blanco
			text-align: center
			position: relative
			h2
				font-family: $t-0
				font-size: 60px
			p
				font-family: $t-4
				font-size: 40px

@media screen and (max-width: 640px)
	.content-banner-g
		height: 350px
		.content_text_banner
			.text-banner-g
				h2
					font-size: 36px
				p
					font-size: 22px

	